/****************************************
/* Mixins
/****************************************/

@mixin border-radius($topleft, $topright: $topleft, $bottomright: $topleft, $bottomleft: $topleft) {
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  -ms-border-radius: $topleft $topright $bottomright $bottomleft;
  -o-border-radius: $topleft $topright $bottomright $bottomleft;
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
  border-radius: $topleft $topright $bottomright $bottomleft;
}
@mixin white-text-shadow() {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
@mixin dark-text-shadow() {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}

/****************************************
/* /Mixins
/****************************************/

$highlight-color: #CD4900;
$light-gray: #c7c7c7;
$dark-color: #222;

body {
  font-family: 'Droid Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, serif;
}
p {
  line-height: 1.2;
}
a {
  text-decoration: underline;
  color: $dark-color;
}
.row.full-width {
  max-width: 100%;
}
.text-center {
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Droid Serif', "Helvetica Neue", "Helvetica", Helvetica, Arial, serif;
  font-style: oblique;
  line-height: 1.2;
  @include white-text-shadow();
}
ul, ol {
  &.horizontal {
    li {
      float: left;
      margin-left: 30px;
    }
  }
}

#header {
  background: #333;
  color: #fff;
  h1 {
    color: #eee;
    &:hover {
      color: #aaa;
    }
  }
}

#content {
  min-height: 400px;
  background-color: $light-gray;
}

.intro {
  padding: 60px 0;
  margin: 0 0;
  &.home {
    background-image: url('/assets/bg-map-gray.jpg');
  }
  h2 {
    margin: 0 0 5px;
  }
  h3 {
    font-weight: 300;
    margin: 0;
  } 
}
.row.top-heading-box {
  padding-bottom: 40px;
}

.form {
  margin: 0;
  &.initial {
    padding: 50px 0;
  }
  .button {
    margin-top: 21px;
  }
  fieldset {
    padding: 0;
    border: 0;
    margin: 40px 0 0;
  }
  .flabel {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 38px;
  }
  .form-heading {
    text-align: center;
    border-top: 1px solid #777;
    margin: 20px 0 -16px;
    font-size: 20px;
    span {
      background-color: $light-gray;
      position: relative;
      top: -16px;
      padding: 0 10px;
    }
  }
}
.sizes {
  padding: 30px 0 40px;
}
form {
  label {
    margin: 0 0 6px;
  }
  textarea {
    height: auto;
    padding: 15px 15px;
  }
}
.more-content {
  background-color: #E3E3E3;
  padding: 80px 0;
}
.circle {
  border-radius: 50%;
  width: 120px;
  height: 120px; 
  background-color: #fff;
}
.login-options {
  h5 {
    color: #6a6a6a;
  }
  p {
    line-height: 1.1;
    font-size: 14px;
    color: #888;
  }
  ul {
    padding: 25px 0 0;
    li {
      list-style: none;
      margin-bottom: 10px;
      text-align: center;
      .connect-btn {
        opacity: .8;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
.faux-input {
  padding: 0 15px;
  background-color: $dark-color;
  color: #fff;
  text-shadow: none;
  display: inline-block;
}
.errands-list {
  table {
    width: 100%;
    border: none;
    background: none;
    margin-top: 30px;
    thead,
    tbody {
      background: none;
    }
    thead {
      th {
        border-bottom: 3px solid $dark-color;        
        span {
          color: #750205;
        }
        &:first-child {
          width: 60%;
        }
      }
    }
    td, th {
      vertical-align: top;
      p {
        margin: 0 0 5px;
        line-height: 1.1;
      }
      .title {
        font-size: 16px;
      }
      .subline {
        color: #888;
      }
    }
    tbody {
      tr:hover {
        td {
          background: #dbdbdb;
          .subline {
            color: #555;
          }

        }
      }
    }
  }
}

#footer {
  footer {
    padding: 10px 0;
    border-top: 1px solid #ccc;
    p {
      margin: 0;
    }
    ul {
      margin: 0;
      a {
        font-size: 14px;
      }
    }    
  }
}

.forms {
  display: none;
  padding: 0 0 40px;
  .price {
    font-weight: 700;
    &.large {
      font-size: 64px;
    }
  }
  .note {
    font-size: 13px;
    width: 70%;
  }
  .price-est-section {
    padding-bottom: 40px;
    .slider {
      position: relative;
      min-height: 87px;
    }
    .how {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 14px;
    }
  }
  .agreement-box {
    position: relative;
    margin: 15px 0 0;
    border-bottom: 1px solid #777777;
    input[type="checkbox"] {
      width: 40px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
    }
    p {
      font-size: 14px;
      margin-left: 40px;
    }
  }
}

/****************************************
/* Graphic Buttons
/****************************************/

.connect-btn {
  width: 251px;
  height: 56px;
  background: url('/assets/app-sprites.png');
  text-indent: -4000px;
  display: inline-block;
  &.linkedin {
    background-position: 0 -61px;
  }
}

/****************************************
/* /Graphic Buttons
/****************************************/


/****************************************
/* Foundation Overrides
/****************************************/

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background-color: #222;
  color: #fff;
  padding: 25px 15px;
  font-size: 18px;
  @include border-radius(4px);
  &:focus {
    color: #333;
  }
}
.button {
  background-color: $highlight-color;
  border-color: $highlight-color;
  &:hover {
    background-color: darken($highlight-color, 8);
  }
}
.top-bar {
  input,
  .button {
    line-height: 1.8em;
  }
  .title-area {
    .name {
      h1 {
        a {
          font-size: 27px;
          font-style: oblique;
        }
      }
    }
  }
  .top-bar-section {
    ul {
      li {
        a.active {
          color: $highlight-color;
        }
      }
    }
  }
}
table {
  tr {
    &.even,
    &.alt,
    &:nth-of-type(even) {
      background: inherit;
    }   
  }
}

/****************************************
/* /Foundation Overrides
/****************************************/

/****************************************
/* Misc Overrides
/****************************************/

.select2-container {
  width: 100%;
  .select2-choice,
  &.select2-dropdown-open .select2-choice {
    background: #222;
    padding: 12px 15px;
    height: auto;
    color: white;
    border: 1px solid #cccccc;
    > div {
      display: none;
    }
  }
  &.select2-dropdown-open {
    .select2-choice {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .select2-choice {
    span {
      font-weight: 700;
      font-size: 18px;
    }
  }
}
.select2-drop {
  .select2-search {
    padding-top: 4px;
    input[type="text"] {
      color: #777;
      padding: 8px 15px;
    }
  }
}
.select2-results {
  .select2-highlighted {
    background-color: $highlight-color;
  }
}

/****************************************
/* /Misc Overrides
/****************************************/

