@import "variables";

/****************************************
/* Mixins
/****************************************/

@mixin border-radius($topleft, $topright: $topleft, $bottomright: $topleft, $bottomleft: $topleft) {
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  -ms-border-radius: $topleft $topright $bottomright $bottomleft;
  -o-border-radius: $topleft $topright $bottomright $bottomleft;
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
  border-radius: $topleft $topright $bottomright $bottomleft;
}
@mixin border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin white-text-shadow() {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
@mixin dark-text-shadow() {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}

/****************************************
/* /Mixins
/****************************************/

body {
  font-family: 'Droid Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, serif;
}
p {
  line-height: 1.2;
}
a {
  color: $highlight-color;
}

.dashboard-errands {
  display:none;
}
.row.full-width {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.hide {
  position: fixed;
  left: -4000px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Droid Serif', "Times New Roman", Georgia, sans-serif;
  font-style: oblique;
  line-height: 1.2;
  @include white-text-shadow();
  letter-spacing: -0.03em;
}
ul, ol {
  &.horizontal {
    li {
      float: left;
      margin-left: 30px;
    }
  }
}

#header {
  background: #333;
  color: #fff;
  h1 {
    color: #eee;
    &:hover {
      color: #aaa;
    }
  }
  .usermeta {
    img {
      width: 26px;
      padding-top: 0px;
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

#content {
  min-height: 500px;
  background-color: $light-color;
}

.intro {
  padding: 60px 0;
  margin: 0 0;
  min-height: 200px;
  background: url("/assets/bg-city.jpg") center -180px;
  &.home {
    background-position: center -50px;
    min-height: 450px;
  }
  h2 {
    margin: 0 0 5px;
  }
  h3 {
    font-weight: 300;
    margin: 0;
  } 
}
.row {
  &.top-heading-box {
    padding-bottom: 40px;
  }
  &.middle-heading-box {
    padding-top: 40px;
  }
}

.form {
  margin: 0;
  &.initial {
    padding: 50px 0 0;
    margin-top: -260px;
    fieldset {
      background: #fbf1dd;
      padding: 25px 45px;
      box-shadow: 0 0 8px rgba(0,0,0,.5);
      label { display: none }
      &.for-couriers {
        background: #a2c6b9;
      }
    }
    > .row {
      margin-bottom: 20px;
    }
    .button {
      margin-top: 0;
    }
  }
  .button {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 21px;
    white-space: nowrap;
  }
  fieldset {
    padding: 0;
    border: 0;
    margin: -50px 0 0;
    &:first-child {
      margin-top: 0;
    }
    h3 {
      font-size: 21px;
    }
  }
  .row.pane {
    margin-top: 0;
    .form-heading span {
      background: white;
    }
    h2 {
      text-transform: capitalize;
      min-height: 60px;
    }
  }
  .flabel {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 36%;
    font-size: 18px;
    font-weight: 700;
    font-style: oblique;
    font-family: 'Droid Serif', "Times New Roman", Georgia, sans-serif;
  }
  select {
    background-color: $dark-color;
    padding: 15px;
    color: #fff;
    border: none;
    height: 51px;
    font-size: 18px;
    -webkit-appearance: none;
    cursor: pointer;
  }
}
@media only screen and (max-width: 48em) {
  .form {
    .flabel {
      margin-top: 0;
    }
  }
}

.pane {
  background: white;
  padding: 40px 50px;
  &.first {
    margin-top: -120px;    
  }
}
.sizes {
  padding: 30px 0 40px;
}
form {
  label {
    margin: 0 0 6px;
  }
  textarea {
    height: auto;
    padding: 15px 15px;
  }
}
.more-content {
  // background-color: $light-color-2;
  padding: 40px 0 80px 0;
}
.circle {
  border-radius: 50%;
  width: 120px;
  height: 120px; 
  background-color: #e2f2ec;
  &.large {
    width: 180px;
    height: 180px;
  }
}
.login-options {
  h5 {
    color: #6a6a6a;
  }
  p {
    line-height: 1.1;
    font-size: 14px;
    color: #888;
  }
  ul {
    padding: 25px 0 0;
    li {
      list-style: none;
      margin-bottom: 10px;
      text-align: center;
      .connect-btn {
        opacity: .8;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
.faux-input {
  padding: 0 15px;
  background-color: $dark-color;
  color: #fff;
  text-shadow: none;
  display: inline-block;
  font-style: normal;
  font-family: 'Droid Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  @include border-radius(4px);
}
.errands-list {
  padding-top: 0;
  @include border-box();
  border-top: 1px dashed $light-color-2;
  min-height: 400px;
}
table {
  width: 100%;
  border: none;
  background: none;
  margin-top: 30px;
  thead,
  tbody {
    background: none;
  }
  thead {
    th {
      border-bottom: 3px solid $dark-color;        
      span {
        color: #750205;
      }
      &:first-child {
        width: 60%;
      }
    }
  }
  td, th {
    vertical-align: middle;
    border-bottom: 1px dashed $light-color-2;
    p {
      margin: 0 0 5px;
      line-height: 1.1;
    }
    .title {
      font-size: 16px;
    }
    .subline {
      color: #888;
    }
  }
  tbody {
    tr:hover {
      td {
        background: #dbdbdb;
        .subline {
          color: #555;
        }

      }
    }
  }
}

/****************************************
/* Dashboard
/****************************************/

.dashboard-view {
  .pane {
    padding-top: 40px;
    &.first {
      h2 {
        margin-bottom: 0;
      }
    }
  }
  nav {
    padding-bottom: 30px;
  }
}
.tab-pill {
  display: inline-block;
  width: 100%;
  background: #f0f0f0;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  color: $dark-color;
  @include border-radius(5px);
  &.selected {
    background: $dark-color;
    color: #fff;
    cursor: default;
  }
}
.errands-view {
  margin-top: 20px;
  li {
    width: 100%;
    list-style: none;
    margin-bottom: 15px;
    padding-bottom: 15px;
    // border-bottom: 1px dashed $light-color-2;
    p {
      margin-bottom: 5px;
    }
    h4 {
      font-style: normal;
      margin: 0;
      a {
        color: $dark-color;
        &:hover {
          text-decoration: underline;
        }
      }
      span.status {
        color: #777;
        font-size: 14px;
        font-family: 'Droid Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      }
    }
    .subline {
      color: #999;
    }
  }
}

/****************************************
/* /Dashboard
/****************************************/



/****************************************
/* Footer
/****************************************/

#footer {
  footer {
    padding: 10px 0;
    border-top: 1px solid #ccc;
    p {
      margin: 0;
    }
    ul {
      margin: 0;
      a {
        font-size: 14px;
      }
    }    
  }
}

/****************************************
/* /Footer
/****************************************/


.forms {
  display: none;
}
.forms-section {
  padding: 0 0 40px;
  .first {
    margin: -150px 0 0;
  }
  .price {
    font-weight: 700;
    &.large {
      font-size: 64px;
    }
  }
  .note {
    font-size: 13px;
    width: 70%;
  }
  .price-est-section {
    padding-bottom: 40px;
    .slider {
      position: relative;
      min-height: 77px;
      .ui-slider {
        margin-top: 28px;
      }
      .date {
        margin-top: 10px;
        &.start {
          float: left;
          margin-left: -7px;
        }
        &.end {
          float: right;
          margin-right: -7px;
        }
      }
    }
    .how {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 12px;
    }
  }
  .agreement-box {
    position: relative;
    margin: 15px 0 0;
    border-bottom: 1px solid #777777;
    input[type="checkbox"] {
      width: 40px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
    }
    p {
      font-size: 14px;
      margin-left: 40px;
    }
  }
  .summary {
    margin-bottom: 40px;
    p {
      font-family: 'Droid Serif', "Times New Roman", Georgia, serif;
      font-weight: 700;
      span {
        font-family: 'Droid Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-weight: 300;
        display: inline-block;
        min-width: 20%;
        text-align: right;
        margin-right: 20px;
      }
    }
  }
  .form-heading {
    text-align: center;
    border-top: 1px solid #777;
    margin: 20px 0 -16px;
    font-size: 20px;
    span {
      background-color: $light-color;
      position: relative;
      top: -16px;
      padding: 0 10px;
    }
  }
}

/****************************************
/* User Profile
/****************************************/

.user-header {
  position: relative;
  .name-and-stats {
    margin-left: 100px;
  }
  h2 {
    margin: 0 0 5px;
  }
  .user-photo {
    position: absolute;
    left: 0;
    top: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .stats {
    ul {
      li {
        list-style: none;
        font-size: 14px;
        line-height: 1.4;
      }
    }
  }
  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .location {
    color: #aaa;
  }
  .achievements {
    min-height: 48px;
  }
}
.user-photo {
  width: 90px;
  height: 90px;
  background: #ccc;
}

/****************************************
/* /User Profile
/****************************************/


/****************************************
/* Static Pages
/****************************************/

.static-content {
  padding: 50px 0 25px;
}

/****************************************
/* /Static Pages 
/****************************************/


/****************************************
/* Graphic Buttons
/****************************************/

.connect-btn {
  width: 251px;
  height: 56px;
  background: url('/assets/app-sprites.png');
  text-indent: -4000px;
  display: inline-block;
  &.linkedin {
    background-position: 0 -61px;
  }
}

/****************************************
/* /Graphic Buttons
/****************************************/


/****************************************
/* Foundation Overrides
/****************************************/

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background-color: #222;
  color: #fff;
  padding: 25px 15px;
  font-size: 18px;
  @include border-radius(4px);
  &:focus {
    color: #333;
  }
}
.button {
  background-color: $highlight-color;
  border-color: $highlight-color;
  &:hover {
    background-color: darken($highlight-color, 8);
  }
}
.top-bar {
  input,
  .button {
    line-height: 1.8em;
  }
  .title-area {
    .name {
      h1 {
        a {
          font-size: 27px;
          font-style: oblique;
          text-decoration: none;
          img {
            margin-top: 1px;
          }
        }
      }
    }
  }
  .top-bar-section {
    ul {
      li {
        a.active {
          color: $highlight-color;
        }
      }
    }
  }
}
table {
  tr {
    &.even,
    &.alt,
    &:nth-of-type(even) {
      background: inherit;
    }   
  }
}

/****************************************
/* /Foundation Overrides
/****************************************/

/****************************************
/* Misc Overrides
/****************************************/

.select2-container {
  width: 100%;
  .select2-choice,
  &.select2-dropdown-open .select2-choice {
    background: #222;
    padding: 12px 15px;
    height: auto;
    color: white;
    border: 1px solid #cccccc;
    > div {
      display: none;
    }
  }
  &.select2-dropdown-open {
    .select2-choice {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .select2-choice {
    span {
      font-weight: 700;
      font-size: 18px;
    }
  }
}
.select2-drop {
  .select2-search {
    padding-top: 4px;
    input[type="text"] {
      color: #777;
      padding: 8px 15px;
    }
  }
}
.select2-results {
  .select2-highlighted {
    background-color: $highlight-color;
  }
}

/****************************************
/* /Misc Overrides
/****************************************/

/****************************************
/* jQuery UI Overrides
/****************************************/

.ui-slider {
  background: $dark-color;
  border: none;
  .ui-slider-handle {
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: $highlight-color;
    outline: none;
    cursor: pointer;
    &:hover {
      background: lighten($highlight-color, 10);
    }
  }
}

/****************************************
/* /jQuery UI Overrides
/****************************************/
